body{
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 13pt;
    font-family: 'Syne Mono', monospace;

    overflow-x: hidden;
    
    .row{
        .col-sm-4{
            margin-bottom: 30px;
        }
    }

    button{
        background: none;
        border: none;
        color: white;
        padding: 0;

        &:hover{
            background-color: black;
            animation: glitch 0.3s ease-in-out 1 normal both;
        }
    }

    a{
        background: none;
        border: none;
        color: white;
        padding: 0;

        &:hover{
            background-color: black;
            text-decoration: none;
            animation: glitch 0.3s ease-in-out 1 normal both;
        }
    }


    header{
        font-size: 16pt;
        #header-logo{
            
            width: 250pt;
            height: auto;
            max-width: 50%;
        }

        .header-logo-3deffect{
            width: 250pt;
            height: auto;
            position: absolute;
            z-index: -1;
            left: 50%;
            
            max-width: 50%;
            opacity: 50%;
            animation: fade-in 2s ease-in-out 0.5s 1 normal both;
        }
        .logo-blue{
            -webkit-animation: slide-right 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite alternate both, fade-in 2s ease-in-out 0.5s 1 normal both;
	        animation: slide-right 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite alternate both, fade-in 2s ease-in-out 0.5s 1 normal both;
        }
        .logo-red{
            -webkit-animation: slide-right 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) 2s infinite alternate both, fade-in 2s ease-in-out 0.5s 1 normal both;
	        animation: slide-right 2s cubic-bezier(0.680, -0.550, 0.265, 1.550) 2s infinite alternate both, fade-in 2s ease-in-out 0.5s 1 normal both;
    
        }

        .links{
            ul{
                list-style: none;
                margin-top: 10pt;
                padding: 0;
                color: rgb(237, 5, 5);
                li{
                    display:inline;
                    margin: 0px 10pt 0px 10pt;

                    a{
                        text-decoration: none;
                        color: white;

                        &:hover{
                            background-color: rgb(237, 5, 5);
                            text-decoration: wavy;
                            
                            animation: glitch 0.3s ease-in-out 1 normal both;
                        }
                    }
                }
            }
        }
    }

    main{
        max-width: 80%;
        margin: 52pt auto auto auto;
        p{
            max-width: 600pt;
            margin-left: auto;
        margin-right: auto;
        
        }
        .process{
            .steps{
                width: 50%;
                float: left;
                text-align: left;
                background-color: rgb(255, 0, 0);
                margin: 0;
                padding: 12pt;
            }
            .process-img{
                width: 50%;
                float: left;
                text-align: center;
                margin: 0;
                padding: 12pt;

                img{
                    width: 80%;
                }
            }
        }

        .album-cover{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            .album-cover-overlay{
                color: white;
                position: absolute;
                background-color: red;
                padding: 20px;
                width: 100%;
                height: 100%;
                opacity: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                transition: 0.2s;

                h2{
                    font-size: 26px;
                }

                button{
                    margin-top: 30px;
                }

                &:hover{
                    opacity: 100%;
                    animation: rotate-text 0.3s ease-in-out 1 normal both;
                }
                div{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translateX(-50%) translateY(-50%);

                }
            }
            img{
                width: 100%;
                transition: 0.2s ease-in-out;
                
                z-index: 2;
                &:hover{
                    opacity: 0%;
                }
            }
        }

        .empty{
            background-color: rgb(32, 32, 32);
        }
    }

    #type{
        position: absolute;
        opacity: 10%;
        left: 30px;
        top: 30px;
        z-index: -1;
        width: 30%;
        text-align: left;
    }
}
@keyframes slide-right{0%{transform:translateX(-52%)}100%{transform:translateX(-48%)}}
@keyframes glitch{
    0%{
        color: aqua;
    }
    30%{
        color: aqua;
    }
    31%{
        color: black;
        background-color: rgb(255, 255, 255);
    }
    60%{
        color: black;
        background-color: rgb(255, 255, 255);
    }
    61%{
        color: magenta;
    }
    99%{
        color: magenta;
    }
    100%{
        color: white;
    }
}

@keyframes rotate-text{
    0%{
        color: black;
        transform: translate(0);
    }
    100%{
        transform: translate(20px, -20px) rotate3d(1, 1, 0, 0.05turn);
    }
}
@keyframes fade-in{0%{opacity: 0%;}100%{opacity: 50%;}}